{% load static %} <!DOCTYPE html>
<html>
<head>
    <title>tutuTasker | Editorial</title>
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
</head>
<body>
    <div class="container">
    <h1>tutuTasker</h1>

    <div class="form-wrapper">
        <form method="POST">
            {% csrf_token %}
            {{ form.title }}
            <button type="submit">add</button>
        </form>
    </div>

    <ul class="task-list">
        {% for task in tasks %}
            <li class="task-item">
                <span class="task-text">{{ task.title }}</span>
                <div class="task-actions">
                    <a href="{% url 'delete_task' task.id %}" class="delete-btn">delete</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>